#map {
  height: 100vh;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.label {
  color: #000;
  background-color: white;
  border: 1px solid #000;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  padding: 2px;
}
.label.green {
  background-color: #58d400;
}
.label.red {
  background-color: #d80027;
  color: #fff;
}
.label.yellow {
  background-color: #fcca00;
}
.label.turquoise {
  background-color: #00d9d2;
}
.label.brown {
  background-color: #bf5300;
  color: #fff;
}
